*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Days One;
    src: url(fonts/DaysOne-Regular.ttf);
}

body{
    background-image: url(images/bodybg1.2.jpg);
}

header{
    height: 165px;
    margin-top: 5px;
    border-left: 5px solid #7416c7;
    border-right: 5px solid #7416c7;
    background-image:
    url(images/header.png),
    url(images/header-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;
    border-radius: 25px;
}

header > h1{
    margin-top: 50px;
    color: #ae24fe;
    font-family: "Days One" ,sans-serif;
    text-align: center;
}

header > h1:hover{
    cursor: default;
}

nav{
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-left:5px solid #ffffff;
    border-right:5px solid #ffffff;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: 400;
    background-image:
    url(images/nav.png),
    url(images/body%20-%20Copy%20-%20Copy.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;
}

nav ul{
    list-style: none;
    background: linear-gradient(#F6F6F6 , #878787);
    height: 40px;
}

li{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-left: -5px;
    height: 40px;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    width: 120px;
    font-weight: 600;
    text-align: center;
}

li a{
    color: #000000;
    text-decoration: none !important;
}

li a:hover{
    color: #000;
}

.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

nav > ul > li:nth-of-type(1){
    margin-left: 0;
}

nav > ul > li:nth-of-type(3){
    background-color: #ffffff;
}

nav ul > li:hover{
    background-color: #ffffff;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

/*drop down */

ul > li:hover >ul{
    display: block;
    margin-left: -2px;
}

ul > li >ul{
    position: absolute;
    display: none;
    margin-top: 10px;
}

ul >li > ul >li:first-of-type{
    border-top: 2px solid #000000;
}

ul > li > ul >li{
    display: block;
    height: 40px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 0;
    border-bottom: 2px solid #000;
}

li  li {
    display: block;
    text-align: center;
    background-color: #fff;
}

li li:hover{
    background: linear-gradient(#F6F6F6 , #878787);
}

article.container{
    margin-top: 15px;
    padding-top: 50px;
    padding-bottom: 70px;
    border-left: 5px solid #4895f8;
    border-right: 5px solid #f89946;
    border-radius: 25px;
    background-image: url(images/article.png),
    url(images/article-close.png);
    background-repeat: no-repeat;
    background-position: top left 10px,
    bottom left 10px;
}

article.container > h2{
    padding-left: 15px;
    font-family: "Days One" , sans-serif;
    font-size: 36px;
    color: #94caff;
}

article.container > section  p{
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    text-indent: 15px;
}

article.container > section > span{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
}

article.container > section > span > a{
    color: #ff972d;
    font-weight: bold;
}

article.container > section{
    width: 65%;
    padding: 15px;
    background-color: rgba(52, 57, 226, 0.70);
    border-radius: 15px;
}

span.user{
    color: #ffaa1a;
    font-weight: 600;
}

article.container:hover{
    cursor: default;
}

a.btn-warning{
    margin-top: 8px;
    margin-right: 8px;
    padding-left: 0;
    font-weight: 600;
    color: #000000;
}

footer.container{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    border-left: 5px solid #232bab;
    border-right: 5px solid #232bab;
    border-radius: 25px;
    background-image:
    url(images/footer.png),
    url(images/footer-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;
}

footer.container:hover{
    cursor: default;
}

footer.container div{
    width: 500px;
    margin-top: 50px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(44, 69, 255, 0.2);
}

footer.container > span{
    display: inline-block;
    float: right;
    margin-top: 10px;
    padding-bottom: 30px;
}

@media screen and (max-width: 640px){

    nav{
        width: 405px;
    }

    nav ul{
        list-style: none;
        background: linear-gradient(#F6F6F6 , #878787);
        height: 30px;
    }

    li{
        position: relative;
        display: inline-block;
        padding-top: 7px;
        margin-left: -5px;
        height: 30px;
        border-right: 2px solid #000000;
        border-left: 2px solid #000000;
        width: 92px;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
    }

    /*drop down */

    ul > li >ul{
        position: absolute;
        display: none;
        margin-top: 6px;
    }


    ul > li > ul >li{
        display: block;
        height: 30px;
        margin-left: 0;
        padding-top: 7px;
        padding-left: 0;
        border-bottom: 2px solid #000;
    }

    footer.container div{
        width: 100%;
    }
}