*{
    margin: 0; padding: 0;
}

@font-face {
    font-family: Days One;
    src: url(fonts/DaysOne-Regular.ttf);
}

#accordian {
    background-color: rgba(0,89,142,0.7);
    width: 100%;
    padding-bottom: 15px;
    color: #ffffff;
}

#accordian h3 {
    font-size: 20px;
    font-family: "Days One" , sans-serif;
    text-align: center;
    color: #ffa71e;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
    /*fallback for browsers not supporting gradients*/
    background: #003040;
    background: linear-gradient(#0d3798, #251d8a);
}
/*heading hover effect*/
#accordian h3:hover {
    text-shadow: 0 0 20px rgba(255, 23, 25, 0.70);
}


#accordian li {
    list-style-type: none;
}

#accordian ul ul li a {
    color: #ff972d;
    font-weight: bold;
}

#accordian ul ul {
    display: none;
}

.accordian-content{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
}

.accordian-content:hover{
    cursor: default;
}

.accordian-content > span{
    display: block;
    margin-top: 25px;
    text-align: justify;
}

.accordian-content > span:first-of-type{
    font-style: italic;
    font-size: 14px;
}

.author{
    font-family: "Days One" , sans-serif;
    font-size: 18px;
}

#accordian ul ul li a.btn-warning{
    color: #000;
}
/*accordian end here*/

/* tooltip style starts here */
#lotr-span, #dune-span, #homes-span, #heroes-span, #wow-span, #diablo-span{
    text-decoration: none;
    outline: none;
}

.tool-tip{
    position: absolute;
    display: inline-block;
    max-width: 150px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 6px;
    font-size: 12px;
    border-radius: 3px;
    border-top-left-radius: 1px;
    background:linear-gradient(#ffad20, #ffae32);
    color: #000000;
    box-shadow: 3px 3px 2px #251406;
}

.pointer-class{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left:-20px;
    border: solid 10px;
    border-color: transparent #ffb32f transparent transparent;
}

body{
    background-image: url(images/bodybg1.2.jpg);
}

header{
    height: 165px;
    margin-top: 5px;
    border-left: 5px solid #7416c7;
    border-right: 5px solid #7416c7;
   /* background-image:
    url(images/header.png),
    url(images/header-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
    border-radius: 25px;
    transition:
    height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.6s,
    border-right-color 0.7s ease-in-out 0.6s;
}

header:hover{
    cursor: default;
    height: 175px;
    border-left-color: #ffa500;
    border-right-color: #ffa500;
}

header > h1{
    margin-top: 10px;
    color: #ae24fe;
    font-family: "Days One" ,sans-serif;
    text-align: center;
    transition:
    margin-top 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

header:hover > h1{
    margin-top: 0;
    color: #ffa500;
}

.transition-header{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #ae24fe;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

header:hover > .transition-header{
    opacity: 1;
    color: orange;
}

nav{
    margin-top: 15px;
    height: 105px;
    border-left:5px solid #ffffff;
    border-right:5px solid #ffffff;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: 400;
    /* background-image:
     url(images/nav.png),
     url(images/body%20-%20Copy%20-%20Copy.png);
     background-repeat: no-repeat;
     background-position:
     top left 10px,
     bottom left 10px;*/
}

.transition-nav{
    margin-top: -12px;
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #f3eefe;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.6s;
}

nav:hover > .transition-nav{
    cursor: default;
    opacity: 1;
}

nav ul{
    list-style: none;
    background: linear-gradient(#F6F6F6 , #878787);
    height: 40px;
}

nav ul li{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-left: -5px;
    height: 40px;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    width: 120px;
    font-weight: 600;
    text-align: center;
}

nav ul li a{
    color: #000000;
    text-decoration: none !important;
}

li a:hover{
    color: #000;
}

.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

nav > ul > li:nth-of-type(1){
    margin-left: 0;
}

nav > ul > li:nth-of-type(2){
    background-color: #ffffff;
}

nav ul > li:hover{
    background-color: #ffffff;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

/*drop down */

nav ul > li:hover >ul{
    display: block;
    margin-left: -2px;
}

nav ul > li > ul{
    position: absolute;
    display: none;
    margin-top: 10px;
}

nav ul >li > ul >li:first-of-type{
    border-top: 2px solid #000000;
}

nav ul > li > ul >li{
    display: block;
    height: 40px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 0;
    border-bottom: 2px solid #000;
}

nav li li {
    display: block;
    text-align: center;
    background-color: #fff;
}

nav li li:hover{
    background: linear-gradient(#F6F6F6 , #878787);
}

article.container{
    height: 100%;
    margin-top: 15px;
    border-left: 5px solid #4895f8;
    border-right: 5px solid #4895f8;
    border-radius: 25px;
    /*background-image:
    url(images/article.png),
    url(images/article-close.png);
    background-repeat: no-repeat;
    background-position: top left 10px,
    bottom left 10px;*/
}

article.container:hover{
    cursor: default;
}

article.container > h2{
    margin-top: -35px;
    padding-left: 15px;
    font-family: "Days One" , sans-serif;
    font-size: 36px;
    color: #94caff;
    transition: margin-top 0.7s ease-in-out 0.7s;
}

article.container:hover > h2{
    margin-top: 20px;
}

.transition-article{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #4895f8;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.7s;
}

article.container:hover > .transition-article{
    opacity: 1;
}

article.container > section  p{
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    text-indent: 15px;
}

article.container > section > span{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 20px;
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
}

article.container > section > span > a{
    color: #2524ff;
}

article.container > section{
    padding: 15px;
   /* background-color: rgba(38, 165, 255, 0.70); */
    background-color: transparent;
    border-radius: 15px;
}

footer.container{
    margin-top: 15px;
    margin-bottom: 15px;
    height: 100px;
    color: #ffffff;
    border-left: 5px solid #232bab;
    border-right: 5px solid #232bab;
    border-radius: 25px;
   /* background-image:
    url(images/footer.png),
    url(images/footer-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
    transition: height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.7s,
    border-right-color 0.7s ease-in-out 0.7s;
}

footer.container:hover{
    cursor: default;
    height: 170px;
    border-left-color: #7416c7;
    border-right-color: #7416c7;
}

.transition-footer{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #4895f8;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.7s,
    color 0.7s ease-in-out 0.7s;
}

footer.container:hover > .transition-footer{
    opacity: 1;
    color: #7416c7;
}

footer.container section{
    margin-top: -35px;
    width: 500px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(44, 69, 255, 0.2);
    transition: margin-top 0.7s ease-in-out 0.7s,
    background-color 0.7s ease-in-out 0.6s;
}

footer.container:hover > section{
    margin-top: 5px;
    background-color: rgba(116, 22, 199, 0.2);
}

footer.container > span{
    display: inline-block;
    float: right;
    margin-top: -25px;
}


@media screen and (max-width: 640px){

    nav{
        width: 405px;
    }

    nav ul{
        list-style: none;
        background: linear-gradient(#F6F6F6 , #878787);
        height: 30px;
    }

    nav ul li{
        position: relative;
        display: inline-block;
        padding-top: 7px;
        margin-left: -5px;
        height: 30px;
        border-right: 2px solid #000000;
        border-left: 2px solid #000000;
        width: 92px;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
    }

    /*drop down */

    nav ul > li >ul{
        position: absolute;
        display: none;
        margin-top: 6px;
    }


    nav ul > li > ul >li{
        display: block;
        height: 30px;
        margin-left: 0;
        padding-top: 7px;
        padding-left: 0;
        border-bottom: 2px solid #000;
    }

    footer.container section{
        width: 100%;
    }
}