*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Days One;
    src: url(fonts/DaysOne-Regular.ttf);
}

body{
    background-image: url(images/bodybg1.2.jpg);
}

header{
    width: 1170px;
    height: 125px;
    margin-top: 5px;
    border-left: 5px solid #7416c7;
    border-right: 5px solid #7416c7;
    border-radius: 25px;
    /*background-image:
    url(images/header.png),
    url(images/header-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
    transition:
    height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.6s,
    border-right-color 0.7s ease-in-out 0.6s;
}

header > h1{
    margin-top: -20px;
    color: #ae24fe;
    font-family: "Days One" ,sans-serif;
    text-align: center;
    transition:
    margin-top 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

/* header transitions */

.transition-header{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #ae24fe;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

header:hover{
    cursor: default;
    height: 175px;
    border-left-color: #ffa500;
    border-right-color: #ffa500;
}

header:hover > h1{
    margin-top: 0;
    color: #ffa500;
}

header:hover > .transition-header{
    opacity: 1;
    color: orange;
}
/* End of header transitions */

nav{
    height: 105px;
    margin-top: 15px;
    border-left:5px solid #ffffff;
    border-right:5px solid #ffffff;
    border-radius: 25px;
    font-family: sans-serif;
    font-weight: 400;
    /*background-image:
    url(images/nav.png),
    url(images/body%20-%20Copy%20-%20Copy.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
}

/* Nav transitions */

.transition-nav{
    margin-top: -12px;
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #f3eefe;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.6s;
}

nav:hover > .transition-nav{
    cursor: default;
    opacity: 1;
}
/* Nav transitions end */

nav ul{
    margin-top: 3px;
    list-style: none;
    background: linear-gradient(#F6F6F6 , #878787);
}

li{
    position: relative;
    display: inline-block;
    padding-top: 10px;
    margin-left: -5px;
    height: 40px;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    width: 120px;
    font-weight: 600;
    text-align: center;
}

li a{
    color: #000000;
    text-decoration: none !important;
}

li a:hover{
    color: #000;
}

.link{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
}

nav > ul > li:first-of-type{
    background-color: #ffffff;
}

nav ul > li:hover{
    background-color: #ffffff;
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

/*drop down */

ul > li:hover >ul{
    display: block;
    margin-left: -2px;
}

ul > li >ul{
    position: absolute;
    display: none;
    margin-top: 10px;
}

ul >li > ul >li:first-of-type{
    border-top: 2px solid #000000;
}

ul > li > ul >li{
    display: block;
    height: 40px;
    margin-left: 0;
    padding-left: 0;
    border-bottom: 2px solid #000;
}

li  li {
    display: block;
    text-align: center;
    background-color: #fff;
}

li li:hover{
    background: linear-gradient(#F6F6F6 , #878787);
}

article.container{
    float: left;
    width: 560px;
    height: 290px;
    margin-top: 15px;
    border-left: 5px solid #4895f8;
    border-right: 5px solid #4895f8;
    border-radius: 25px;
   /* background-image: url(images/article.png),
    url(images/article-close.png);
    background-repeat: no-repeat;
    background-position: top left 10px,
    bottom left 10px;*/
    transition: height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.7s,
    border-right-color 0.7s ease-in-out 0.7s;
}

/* Article transitions */

.transition-article{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #4895f8;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.7s,
    color 0.7s ease-in-out 0.7s;
}

article.container h2{
    margin-top: -40px;
    padding-left: 15px;
    font-family: "Days One" , sans-serif;
    font-size: 36px;
    color: #94caff;
    transition: margin-top 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

article.container:hover{
    cursor: default;
    height: 370px;
    border-left-color: #ffa500;
    border-right-color: #ffa500;
}

article.container:hover > h2{
    margin-top: 15px;
    color: #ffa500;
}

article.container:hover > .transition-article{
    opacity: 1;
    color: #E26823;
}

article.container > section{
    width: 520px;
    padding: 15px;
    background-color: rgba(52, 57, 226, 0.3);
    border-radius: 15px;
    transition: background-color 0.7s ease-in-out 0.6s;
}

article.container:hover > section{
    background-color: rgba(226, 104, 35, 0.30);
}

/* Article transitions end*/

article.container > section > p{
    width: 480px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    text-indent: 30px;
}

article.container > section >p > span{
    display: inline-block;
    text-indent: 30px;
}

aside{
    float: right;
    position: absolute;
    margin-left: 920px;
    width: 250px;
    height: 380px;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-left: 5px solid #ffa500;
    border-right: 5px solid #ffa500;
    border-radius: 25px;
    /*background-image:
    url(images/aside.png),
    url(images/aside-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
    transition: height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.7s,
    border-right-color 0.7s ease-in-out 0.7s;
}

/* Aside Transitions */

aside:hover{
    cursor: default;
    height: 465px;
    border-left-color: #4895f8;
    border-right-color: #4895f8;
}

.transition-aside{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #4895f8;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.7s,
    color 0.7s ease-in-out 0.7s;
}

aside:hover > .transition-aside{
    opacity: 1;
}

aside > h2{
    margin-top: -40px;
    font-family: "Days One" , sans-serif;
    font-size: 24px;
    text-align: center;
    color: #ffda1a;
    transition: margin-top 0.7s ease-in-out 0.6s,
    color 0.7s ease-in-out 0.6s;
}

aside:hover > h2{
    margin-top: 15px;
    color: #94caff;
}

aside > section{
    background-color: rgba(226, 104, 35, 0.30);
    border-radius: 15px;
    transition: background-color 0.7s ease-in-out 0.6s;
}

aside:hover > section{
    background-color: rgba(52, 57, 226, 0.3);
}

/* Aside Transitions end */

aside > section > ul{
    list-style: none;
    margin-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

aside > section > ul > li{
    display: block;
    border: none;
}

aside > section > ul > li:hover{
    background-color: #94caff/*#ffd129*/;
}

aside > section > ul > li > a{
    color: #ffffff;
}

footer.container{
    clear: both;
    margin-top: 490px;
    height: 100px;
    color: #ffffff;
    border-left: 5px solid #232bab;
    border-right: 5px solid #232bab;
    border-radius: 25px;
    /*background-image:
    url(images/footer.png),
    url(images/footer-close.png);
    background-repeat: no-repeat;
    background-position:
    top left 10px,
    bottom left 10px;*/
    transition: height 0.7s ease-in-out 0.6s,
    border-left-color 0.7s ease-in-out 0.7s,
    border-right-color 0.7s ease-in-out 0.7s;
}

/* Footer Transitions */

footer.container:hover{
    cursor: default;
    height: 170px;
    border-left-color: #7416c7;
    border-right-color: #7416c7;
}

.transition-footer{
    display: inline-block;
    font-family: "Days One" , sans-serif;
    font-style: italic;
    color: #4895f8;
    font-size: 30px;
    opacity: 0;
    transition:
    opacity 0.7s ease-in-out 0.7s,
    color 0.7s ease-in-out 0.7s;
}

footer.container:hover > .transition-footer{
    opacity: 1;
    color: #7416c7;
}

footer.container section{
    width: 500px;
    margin-top: -35px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(44, 69, 255, 0.2);
    transition: margin-top 0.7s ease-in-out 0.6s,
    background-color 0.7s ease-in-out 0.6s;
}

footer.container:hover > section{
    margin-top: 5px;
    background-color: rgba(116, 22, 199, 0.2);
}

/* Footer Transitions end */

footer.container > span{
    display: inline-block;
    float: right;
    margin-top: -25px;
}

@media screen and (max-width: 1366px) {

    body{
        background-image: url(images/bg1366.jpg);
    }
}

@media screen and (max-width: 1230px){

    body{
        background-image: url(images/bg1230.jpg);
    }

    header{
        width: 1170px;
        height: 165px;
        margin-top: 5px;
        border-left: 5px solid #7416c7;
        border-right: 5px solid #7416c7;
       /* background-image:
        url(images/header.png),
        url(images/header-close.png);
        background-repeat: no-repeat;
        background-position:
        top left 10px,
        bottom left 10px;*/
        border-radius: 25px;
    }

    article.container{
        width: 430px;
        height: 330px;
    }

    article.container:hover{
        height: 410px;
    }

    article.container > section > p{
        width: 350px;
    }

    article.container > section{
        width: 380px;
    }

    aside {
        float: right;
        position: static;
        margin-left: auto;
        width: 250px;
    }

    footer.container{
        clear: both;
        margin-top: 480px;
    }
}

@media screen and (max-width: 768px){

    header{
        width: 512px;
    }

    header > h1{
        margin-top: 15px;
        color: #ae24fe;
        font-family: "Days One" ,sans-serif;
        font-size: 26px;
        text-align: center;
    }

    nav{
        width: 512px
    }

    article.container{
        float: none;
        width: 512px;
        height: 290px;
    }

    article.container > h2{
        padding-left: 15px;
        font-family: "Days One" , sans-serif;
        font-size: 26px;
        color: #94caff;
    }

    article.container > section > p{
        width: 430px;
    }

    article.container > section{
        width: 470px;
    }

    aside {
        float: none;
        position: static;
        width: 512px;
        height: 350px;
        margin: 15px auto;
    }

    aside > section > ul{
        list-style: none;
        margin-left: 180px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    footer.container{
        clear: none;
        margin-top: 15px;
        width: 512px;
        height: 150px;
    }

    footer.container:hover{
        height: 200px;
    }

    footer.container section{
        width: 470px;
        margin-top: -30px;
        padding: 15px;
        border-radius: 15px;
        background-color: rgba(44, 69, 255, 0.2);
        text-align: justify;
    }

    footer.container > span{
        display: inline-block;
        float: right;
        margin-top: 15px;
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px){

    header{
        width: 400px;
    }

    header > h1{
        margin-top: 15px;
        color: #ae24fe;
        font-family: "Days One" ,sans-serif;
        font-size: 22px;
        text-align: center;
    }

    nav{
        width: 400px;
    }

    nav ul{
        list-style: none;
        background: linear-gradient(#F6F6F6 , #878787);
        height: 30px;
    }

    li{
        position: relative;
        display: inline-block;
        padding-top: 7px;
        margin-left: -5px;
        height: 30px;
        border-right: 2px solid #000000;
        border-left: 2px solid #000000;
        width: 92px;
        font-weight: 700;
        font-size: 12px;
        text-align: center;
    }

    /*drop down */

    ul > li >ul{
        position: absolute;
        display: none;
        margin-top: 6px;
    }


    ul > li > ul >li{
        display: block;
        height: 30px;
        margin-left: 0;
        padding-top: 7px;
        padding-left: 0;
        border-bottom: 2px solid #000;
    }

    /* NAV END */

    article.container{
        float: none;
        width: 400px;
        height: 350px;
    }

    article.container:hover{
        height: 435px;
    }

    article.container > h2{
        padding-left: 15px;
        font-family: "Days One" , sans-serif;
        font-size: 20px;
        color: #94caff;
    }

    article.container > section > p{
        width: 100%;
    }

    article.container > section{
        width: 350px;
    }

    aside {
        float: none;
        position: static;
        width: 400px;
        height: 280px;
    }

    aside:hover{
        height: 375px;
    }

    aside h2{
        font-size: 20px;
    }

    aside > section > ul{
        list-style: none;
        margin-left: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    footer.container{
        clear: none;
        margin-top: 15px;
        width: 400px;
    }

    footer.container section{
        width: 100%;
        margin-top: -30px;
        padding: 15px;
        border-radius: 15px;
        background-color: rgba(44, 69, 255, 0.2);
        text-align: justify;
    }

    footer.container > span{
        display: inline-block;
        float: right;
        margin-top: 15px;
        padding-bottom: 30px;
    }
}

